OTP Flow/Microsoft.Flow/flows/6a67a81c-17a3-404a-8d46-71e784842cc1/definition.json
{"name":"59fe0dd6-99c4-4640-bb70-9d4d02a6e03a","id":"/providers/Microsoft.Flow/flows/59fe0dd6-99c4-4640-bb70-9d4d02a6e03a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"OTP Flow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"8ab66dba-4dd6-4c5b-a5e0-5b161add248d","type":"User","tenantId":"36d68e61-4fcf-41b8-bc84-f5bbba006d88"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-04-24T08:54:39.513176Z","connectionKeySavedTimeKey":"2025-04-24T08:54:39.513176Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"354ccbe1-bc29-47b2-aaa3-d1581ba0c3b8"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Send_an_email_(V2)":{"runAfter":{"Compose_Password":["Succeeded"]},"metadata":{"operationMetadataId":"fbc7f907-2173-47e0-a981-b4288881a9dd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Adeola.Omodele@veldarr.com;kayode.ajayi@veldarr.com","emailMessage/Subject":"OTP","emailMessage/Body":"<p>Do not share with anyone</p>\n<p>Here is the OTP:@{outputs('Compose_Password')}</p>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_2":{"runAfter":{},"metadata":{"operationMetadataId":"7e3f8fc5-478b-4727-9647-9506fb58c439"},"type":"Compose","inputs":"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"},"ComposeArray":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"752d01ca-58f9-4814-8515-c7ed29d8c601"},"type":"Compose","inputs":"@chunk(outputs('Compose_2'),1)"},"Select":{"runAfter":{"ComposeArray":["Succeeded"]},"metadata":{"operationMetadataId":"9e6d02e6-3eb6-4382-ad47-35be651abcee"},"type":"Select","inputs":{"from":"@range(0,6)","select":"@outputs('ComposeArray')?[rand(0,length(outputs('ComposeArray')))]"}},"Compose_Password":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"2a3e3625-3403-4902-8122-37cf0ce4334f"},"type":"Compose","inputs":"@join(body('Select'),'')"}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-04528b72-3bac-4a50-870d-06ecd79fdfe0","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"}},"flowFailureAlertSubscribed":false,"isManaged":false}}