Group-By Flow/Microsoft.Flow/flows/bb24b7ff-070a-4302-8e5e-a99cab677db4/definition.json
{"name":"4871697d-3421-478f-afe6-e93c8151071a","id":"/providers/Microsoft.Flow/flows/4871697d-3421-478f-afe6-e93c8151071a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Group-By Flow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"8ab66dba-4dd6-4c5b-a5e0-5b161add248d","type":"User","tenantId":"36d68e61-4fcf-41b8-bc84-f5bbba006d88"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-04-30T16:00:19.0858655Z","connectionKeySavedTimeKey":"2025-04-30T16:00:19.0858655Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"87456a22-7d75-4d24-bc7b-418b5b2ee98f"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]},"headersSchema":{"x-ms-user-email-encoded":{"title":"User email","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"345f26d2-5663-4bd1-9a77-660f8661cd46"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://xhubafrica.sharepoint.com/sites/E-ExpenseReport","table":"0a25b770-98cc-4391-9ca1-8589a083eeef","view":"b68aba5a-26bd-4bd9-ae47-4eb42768abdc"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Select":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"7f7874b4-d0be-4096-99ab-80edabd951d9"},"type":"Select","inputs":{"from":"@outputs('Get_items')?['body/value']","select":"@item()?['StaffID']"}},"Compose":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"f85a07a5-3ed3-466c-bbbb-3b561cde23b7"},"type":"Compose","inputs":"@sort(union(body('Select'),body('Select')))"},"Compose_Root":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"486687cb-9efc-4cf8-81c0-444014ab32cf"},"type":"Compose","inputs":{"root":{"values":"@outputs('Get_items')?['body/value']"}}},"Compose_XML":{"runAfter":{"Compose_Root":["Succeeded"]},"metadata":{"operationMetadataId":"dac53bcf-222a-40c0-a589-ca15d738d906"},"type":"Compose","inputs":"@xml(outputs('Compose_Root'))"},"Compose_Total":{"runAfter":{"Compose_XML":["Succeeded"]},"metadata":{"operationMetadataId":"6aa872ad-03f6-43aa-aeca-8aecc0ff314f"},"type":"Compose","inputs":"@xpath(outputs('Compose_XML'),'sum(//root//Expense)')"},"Select_3":{"runAfter":{"Compose_Total":["Succeeded"]},"metadata":{"operationMetadataId":"a53b24d4-9935-4cf1-8efe-d2bf2290013a"},"type":"Select","inputs":{"from":"@outputs('Compose')","select":{"StaffID":"@item()","Staff":"@xpath(outputs('Compose_XML'), concat('//values[StaffID=\"', item(), '\"]/Staff[1]/text()'))","Expense":"@xpath(outputs('Compose_XML'), concat('sum(//values[StaffID=\"', item(), '\"]/Expense)'))","Count":"@xpath(outputs('Compose_XML'), concat('count(//values[StaffID=\"', item(), '\"]/Expense)'))","Email":"@xpath(outputs('Compose_XML'), concat('//values[StaffID=\"', item(), '\"]/Email[1]/text()'))"}}},"Create_HTML_table":{"runAfter":{"Select_3":["Succeeded"]},"metadata":{"operationMetadataId":"2916a6a6-6a0a-4a59-99ae-dae9d50b83b6"},"type":"Table","inputs":{"from":"@body('Select_3')","format":"HTML"}},"Apply_to_each":{"foreach":"@body('Select_3')","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"5d3d9c65-97f5-4bbc-9c8e-377d1fde90a3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@item()?['Email']","emailMessage/Subject":"@item()?['StaffID']","emailMessage/Body":"<p>Your @{item()?['Count']} expense is @{item()?['Expense']}</p>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"59e2ce1d-8673-4d97-b65e-c68f4d766402"},"type":"Foreach"}},"description":""},"connectionReferences":{"shared_sharepointonline":{"connectionName":"6a6e4d1b86624085a4ff011ad5e66ddb","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline"},"shared_office365_1":{"connectionName":"shared-office365-24ae99fe-c5c8-4307-b600-676afe92231e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"}},"flowFailureAlertSubscribed":false,"isManaged":false}}